body {
    font-family: SourceHanSansCN-Regular;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 1440px;
    min-height: 900px;
}

.main {
    margin: 0 auto;
    width: 1440px;
    padding-top: 48px;
}

.main .header {
    height: 72px;
}

.main .header img {
    width: 237px;
    height: 44px;
    margin: 0 18px 0 107px;
}

.main .header p {
    font-size: 19px;
    color: #646464;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

/* content */
.content {
    width: 100%;
    background-color: #10B9B9;
}

.content .content-main {
    margin: 0 auto;
    width: 1440px;
}

.content .banner {
    display: inline-block;
    margin: 0 172px 0 161px;
    padding: 93px 0;
    font-size: 0;
}

.content .banner img {
    width: 487px;
    height: 293px;
    vertical-align: middle;
}

.content .login {
    display: inline-block;
    width: 400px;
    height: 360px;
    background-color: #FFFFFF;
    vertical-align: top;
    margin: 60px 0;
}

.login-content {
    width: 300px;
    margin: 0 auto;
}
.line{
    margin: 32px 0;
    display: flex;
    justify-content:space-between;
}
.line span{
    width: 54px;
    height: 0;
    border: 0.5px solid #969696;
    vertical-align: middle;
    margin-top: 10px
}
.user-border {
    border: 1px solid #999999;
}
.login strong {
    color: #969696;
    font-size: 16px;
}

input {
    position: relative;
    top: -4px;
    left: 9px;
    font-size: 18px;
}
.user {
    display: inline-block;
    width: 39px;
    height: 38px;
    border-right: 1px solid #999999;
    line-height: 42px;
    text-align: center;
    background-color: #eeeeee;
}
.user img {
    height: 18px;
    width: 15px;
}
.password-mar{
    margin-top: 15px;
}
.user .pwd-img{
    width: 14px;
}
.VerificationCode{
    margin-top: 15px;
}
.Verification {
    width: 130px;
    height: 38px;
    border: 1px solid #999999;
    position: relative;
    left: 0;
    top:0;
    margin: 0 16px 0 0;
    padding:0 0 0 14px;
}
.VerificationCode img{
    float: right;
    width: 134px;
    height: 40px;
    cursor: pointer;
}
.select{
    margin-top: 15px;
    position: relative;
}
.select .icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    border:1px solid #999999;
}
.select img{
    position: absolute;
    top:7px;
    left: 4px;
}
.select .icon-select{
    position: relative;
    left: 3px;
    top:-3px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #999999;
}
.sub{
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-top: 26px;
    line-height: 40px;
    font-family: "Microsoft Yahei";
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    background-color: #10B9B9;
    cursor: pointer;
}


/* bottom */
.bottom{
    width: 100%;
    margin-top: 108px;
}
.four{
    width: 999px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.four img{
    margin-right: 15px;
    vertical-align: middle;
}
.four span{
    font-size: 16px;
    color: #666666;

}

/* footer */
.footer{
    width: 1440px;
    margin: 0 auto;
    font-family: "Microsoft Yahei";
    text-align: center;
    font-size: 12px;
    margin-top: 98px;
}
.company{
    color: #c9c9c9;
}
.num{
    margin-top: 8px;
    color: #c7c7c7;
}
/* 错误信息 */
.errorText,.meminfotips,.error_message{
    color: #A94442;
    font-size: 12px;
}