<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>签约申请</title>
    <meta name="description" content="">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta id="metaEle" name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="/css/comUnchange.css"> <!--背景公共不变的-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/link.js"></script>
    <script type="text/javascript" src="/js/element/index.js"></script>
    <link rel="stylesheet" href="/js/element/index.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dy-common.css">
    <link rel="stylesheet" href="/css/audit_list.css">
</head>
<body>
<div class="main" id="app" v-cloak>
    <div class="header">
        <div class="header-left">
            <img src="/img/logo_familyDoc.png" alt="家庭医生云平台" class="titlePic">
            <!--<p>家庭医生健康管理服务平台</p>-->
            <div class="header-right">
                <img :src="avatar" class="adminPic">
                <span class="adminPeo">{{name}}</span>
                <img src="/img/icon_exit.png" class="exit">
                <span @click="SignOut">退出</span>
            </div>
        </div>
    </div>
    <div class="content clear">
        <!-- 左侧菜单 -->
        <div class="menu">

        </div>

        <div class="continue">
            <div class="select-con">
                <div class="com-title">
                    <span>签约管理 > 签约审核</span>
                </div>
                <div class="com-search apply-search">
                    <div class="search-left">
                        <span>申请日期</span>
                        <el-date-picker
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                @change="getchange"
                                v-model="value"
                                type="daterange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                        <span>居民姓名</span>
                        <input type="text" class="apply-name" placeholder="请输入居民姓名" v-model="Resident_name">
                        <span>证件号码</span>
                        <input type="text" class="apply-num" placeholder="请输入证件号码" v-model="identity_card">
                        <span>所属机构</span>
                        <el-select v-model="valueOrg" placeholder="请选择" class="org_m" @change="ChangeOrg">
                            <el-option
                                    v-for="item in optionsOrg"
                                    :key="item.value"
                                    :label="item.cn_name"
                                    :value="item.orgid">
                            </el-option>
                        </el-select>
                        <!--<input type="text" class="apply-mechanism">-->
                        <span>所属团队</span>
                        <el-select v-model="valueTeam" placeholder="请选择" class="tean_m">
                            <el-option
                                    v-for="item in optionsTeam"
                                    :key="item.value"
                                    :label="item.text"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                        <span>审核状态</span>
                        <el-select v-model="valueState" placeholder="请选择" class="state">
                            <el-option
                                    v-for="item in optionsState"
                                    :key="item.value"
                                    :label="item.text"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="search-right">
                        <span class="com-search-btn" @click="search"><img src="/img/icon_serarch.png"></span>
                        <span class="com-add-btn" @click="AllAudits"><img
                                src="/img/icon_apply_examine_lig.png">全部审核</span>
                    </div>
                </div>
            </div>
            <!-- 内容列表 -->
            <!-- 背景颜色 -->
            <div class="com-bg-color">
                <div class="com-table">
                    <table class="table" cellspacing="0">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" @click="selectAll"></th>
                            <th style="width: 50px">序号</th>
                            <th>姓名</th>
                            <th>证件号码</th>
                            <th>联系电话</th>
                            <!--<th style="width: 150px" class="dot">联系地址</th>-->
                            <th>签约机构</th>
                            <th>签约团队</th>
                            <!--<th style="width: 200px">居民标签</th>-->
                            <th>申请日期</th>
                            <th style="width: 60px">状态</th>
                            <th style="width: 80px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in signList.data" :class="(index+1)%2===0?'':'bg-tr-color'">
                            <td><input type="checkbox" name="checkBox" v-if="item.audit_status==1" :id="item.sign_id"
                                       :value="item.sign_id" @click="handleBox(item.sign_id,$event)" class="checkBox">
                            </td>
                            <td>{{item.serial}}</td>
                            <td>{{item.name}}</td>
                            <td style="width: 130px">{{item.identity_card}}</td>
                            <td style="width: 90px">{{item.mobile}}</td>
                            <!--<td>{{item.address}}</td>-->
                            <td>{{item.org_name}}</td>
                            <td>{{item.team_name}}</td>
                            <td style="width: 80px">{{item.created_at}}</td>
                            <!--<td>{{item.tags}}</td>-->
                            <td v-html="item.status_class"></td>
                            <td class="doc-poi" style="text-align: left">
                                <span class="com-see-btn" style="cursor: pointer"><img src="/img/icon_see.png" alt="" title="查看"
                                                               :LookId="item.sign_id" data-toggle="modal"
                                                               data-target="#apply-details"
                                                               @click="details(item.sign_id)"></span>
                                <span class="com-edit-btn" style="cursor: pointer"><img src="/img/icon_apply_examine.png" alt="" title="审核通过"
                                                                v-if="item.audit_status==1" :auditing="item.sign_id"
                                                                @click="examine(item.sign_id)"></span>
                                <span class="com-edit-btn" style="cursor: pointer"><img src="/img/icon_Reject.png" alt="" title="驳回"
                                                                v-if="item.audit_status==1" :reject="item.sign_id"
                                                                @click="reject(item.sign_id)" data-toggle="modal"
                                                                data-target="#apply-Reject"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 分页 -->
                    <span class="all-nums" v-if="signList.count>0">共{{signList.count}}条</span>
                    <span class="all-nums" v-else>暂无数据</span>
                    <el-pagination
                            v-if="signList.count>0"
                            @current-change="CurrentChangeList"
                            class="paging orgPaging"
                            background
                            prev-text="上一页"
                            next-text="下一页"
                            layout="prev, pager, next"
                            :page-size="12"
                            :page-count="signList.pages"
                            :total="signList.count">
                    </el-pagination>

                </div>
            </div>
        </div>
    </div>
    <!-- 驳回 -->
    <div class="modal fade" id="apply-Reject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog com-del-style-in" role="document">
            <div class="modal-content">
                <div class="modal-header com-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="doc-modal-title">驳回签约申请</div>
                </div>
                <div class="modal-body apply-modal-body-style">
                    驳回原因
                    <textarea class="apply-Reject-rea" style="resize:none" v-model="remark"></textarea>
                </div>
                <div class="modal-footer">
                    <span class="com-modal-add-btn" @click="submitReject">提交</span>
                    <span class="com-modal-add-cancle" data-dismiss="modal">取消</span>
                </div>
            </div>
        </div>

    </div>
    <!-- 签约详情 -->
    <div class="modal fade" id="apply-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog com-modal-style-big" role="document">
            <div class="modal-content">
                <div class="modal-header com-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="doc-modal-title">签约详情</div>
                </div>
                <div class="modal-body apply-modal-body-style">
                    <div>
                        <!--<img class="apply-details-portrait" :src="LookInfo.avatar?LookInfo.avatar:defined.doctorPic">-->
                        <img class="apply-details-portrait" :src="LookInfo.gender=='男'?'/img/photo_men.png':'/img/photo_women.png'">
                        <div class="apply-details-introduce">
                            <span class="apply-details-name">{{LookInfo.name}}</span>
                            <span class="apply-details-sex">{{LookInfo.gender}}</span>
                            <span class="apply-details-sign">标签：{{LookInfo.tags}}</span>
                            <div class="apply-details-team">签约团队：<span>{{LookInfo.team_name}}</span></div>
                            <div class="apply-details-charge">团队负责人：<span>{{LookInfo.team_leader}}</span><span
                                    class="apply-details-introduce-date">签约日期：<span>{{LookInfo.start_time}}（有效期1年）</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="apply-details-information">
                        <h3 class="apply-details-information-title">基本信息</h3>
                        <ul class="apply-details-information-left">
                            <li>身份证号：<span>{{LookInfo.identity_card}}</span></li>
                            <li>出生日期：<span>{{LookInfo.birthday}}</span></li>
                            <li>年龄：<span>{{LookInfo.age}}岁</span></li>
                        </ul>
                        <ul class="apply-details-information-right">
                            <li>联系电话：<span>{{LookInfo.mobile}}</span></li>
                            <li>联系地址：<span>{{LookInfo.address}}</span></li>
                            <li>电子邮箱：<span>{{LookInfo.email}}</span></li>
                        </ul>
                    </div>
                    <div class="apply-details-data">
                        <h3 class="apply-details-data-title">健康资料</h3>
                        <div>
                            <span>疾病史：</span><span class="apply-details-data-mar" style="vertical-align: top;width: 30%;word-break: break-all">{{LookInfo.tags}}</span>
                           <span>过敏史：</span> <span class="apply-details-data-mar" style="vertical-align: top;width: 30%;word-break: break-all">{{LookInfo.allergy_history}}</span>
                            <span>血型：</span><span style="vertical-align:top;width: 10%">{{LookInfo.blood}}</span>
                        </div>
                        <div class="apply-details-data-sign">标签：<span>{{LookInfo.tags}}</span></div>
                        <div>附件：
                            <img class="apply-details-data-enclosure" v-for="item in LookInfo.files" :src="item">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                name: '',
                avatar: '',

                //时间
                value: "",
                start_time: '',
                end_time: '',
                // 机构
                optionsOrg: [],
                valueOrg: '',
                // 团队
                optionsTeam: [],
                valueTeam: '',
                //    状态
                optionsState: [],
                valueState: '',
                //    证件号码
                identity_card: '',
                //    居民姓名
                Resident_name: '',
                //    签约列表
                signList: {},
                //    分页
                page: '',
                //    驳回原因
                remark: '',
                //    全部选中人员
                AllPeople: [],
                num: '',
                //     查看
                LookInfo: {},

            }
        },
        beforeCreate() {
            $.getToken();
        },
        created() {
            let info = $.getInfo();
            this.name = info[0].name;
            this.avatar = info[0].avatar;            //作者菜单


            this.GetOrg();
            this.GetAuditing();
            this.GetSignList();
        },
        mounted(){
            this.initMenu();
        },
        methods: {
            // 菜单
            initMenu(){
                var templateSrc = '/health/menu/menu.html' + '?r=' + Math.random();
                $('.menu').load(templateSrc); //load
            },
            // 获取机构
            GetOrg() {
                let url = $.formateUrl('backend/other/get-orgs');
                $.get(url, res => {
                    if(res.code==0){
                        this.optionsOrg = res.content;
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            ChangeOrg() {
                if(this.valueOrg){
                    this.GetTeam();
                }else{
                    this.optionsTeam = [];
                    this.valueTeam='';
                }
            },
            // 获取团队
            GetTeam() {
                let url = $.formateUrl('backend/other/team');
                let params = {
                    orgid: this.valueOrg
                };
                $.get(url, params, res => {
                    if(res.code==0){
                        this.optionsTeam = res.content;
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            // 审核状态
            GetAuditing() {
                let url = $.formateUrl('backend/other/sign-status');
                let params = {
                    orgid: this.valueOrg
                };
                $.get(url, params, res => {
                    if(res.code==0){
                        this.optionsState = res.content;
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            //时间
            getchange(val) {
                this.start_time = val[0];
                this.end_time = val[1];
            },
            // 签约列表
            GetSignList() {
                let url = $.formateUrl('backend/sign');
                let params = {
                    page: this.page,
                    pageSize: health.BigPageSize,
                    orgid: this.valueOrg,
                    team_id: this.valueTeam,
                    audit_status: this.valueState,
                    identity_card: this.identity_card,
                    name: this.Resident_name,
                    start_time: this.start_time,
                    end_time: this.end_time,
                };
                $.get(url, params, res => {
                    if(res.code==0){
                        $("input[name='checkBox']").prop("checked", false);
                        this.AllPeople=[];
                        this.signList = res.content;
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            // 搜索
            search() {
                this.GetSignList();
            },
            //分页
            CurrentChangeList(val) {
                $("input[name='checkBox']").prop("checked", false);
                this.AllPeople=[];
                this.page = val;
                this.GetSignList();
            },
            // 通过 审核
            examine(id) {
                let ids = [];
                ids.push(id);
                let url = $.formateUrl('backend/sign/audit');
                let params = {
                    ids: ids
                };
                $.post(url, params, res => {
                    if (res.code === 0) {
                        this.GetSignList();
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            // 驳回
            reject(id) {
                this.remark = '';
                this.reject_id = id;
            },
            // 确定驳回
            submitReject() {
                if (this.remark == '') {
                    this.$message('请输入驳回原因');
                    return false;
                }
                let url = $.formateUrl('backend/sign/reject');
                let params = {
                    sign_id: this.reject_id,
                    remark: this.remark
                };
                $.post(url, params, res => {
                    if (res.code == 0) {
                        $('#apply-Reject').modal('hide');
                        this.$message('驳回成功');
                        this.GetSignList();
                    } else {
                        this.$message(res.message);
                    }
                })
            },
            // 查看
            details(id) {
                let url = $.formateUrl('backend/sign/view');
                let params = {
                    sign_id: id
                };
                $.get(url, params, res => {
                    if (res.code == 0) {
                        this.LookInfo = res.content;
                    } else {
                        this.$message(res.message);
                    }
                })

            },
            //  全选 按钮
            selectAll() {     //resident_id  点击全选按钮 所有选中的id
                if ($("#selectAll").prop("checked")) {
                    this.AllPeople = [];
                    $("input[name='checkBox']").prop("checked", true);
                    $("input[name='checkBox']").each((ind, val) => {
                        var resident_id = val.getAttribute('id');
                        this.AllPeople.push(resident_id);
                    });
                } else {
                    $("input[name='checkBox']").prop("checked", false);
                    this.AllPeople = [];
                }
            },
            //  单点按钮
            handleBox(id, event) {   //AllPeople 所有选中的人
                let flag = event.target.checked;
                if (flag) {
                    this.AllPeople.push(id);
                    var all_CheckBox = $('.checkBox');
                    this.AllPeople.length == all_CheckBox.length ? $('#selectAll').prop('checked', true) : $('#selectAll').prop('checked', false);
                } else {
                    $.each(this.AllPeople, (index, value) => {
                        id == value ? this.AllPeople.splice(index, 1) : '';
                        $('#selectAll').prop('checked', false);
                    })
                }
            },
            // 全部审核
            AllAudits() {
                if (this.AllPeople.length <= 0) {
                    this.$message('请至少选择一个人');
                    return false;
                }
                let url = $.formateUrl('backend/sign/audit');
                let params = {
                    ids: this.AllPeople
                };
                $.post(url, params, res => {
                    if (res.code === 0) {
                        this.GetSignList();
                        $('#selectAll').prop('checked', false);
                    }else {
                        this.$message(res.message);
                    }
                })
            },
            //退出
            SignOut() {
                $.SignOut();
            },
        },
    });
</script>
</html>